server:
  port: 9501

spring:

  application:
    name: profile

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  data:
    mongodb:
      uri: ${profile.mongo.uri}

---

spring:
  config:
    activate:
      on-profile: stage, prod

cors:
  enabled: true

eureka:
  client:
    enabled: false